/***************************/
/*  	INITIAL CONFIG    */
/**************************/

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Slab', serif;
}

/*************************/
/*	 	CSS VARIABLES	 */
/*************************/
:root {
	--main-background-color: #f0f0f0;
	--navbar-background-color: #e50d23;
}

/*************************/
/*	 	   Navbar 		 */
/*************************/
#brandlogo {
	width: 100px;
	height: 90px;
	position: absolute;
	left: 50px;
	top: -65px;
}

.brandname {
	position: absolute;
	font-size: 2.5rem;
	text-shadow: -1px 0 black,
				 0 1px black,
				 1px 0 black,
				 0 -1px black;
	left: 50px;
	top: -10px;
}

.brandname:hover {
	position: absolute;
	font-size: 2.5rem;
	text-shadow: -1px 0 white,
				 0 1px white,
				 1px 0 white,
				 0 -1px white;
	left: 50px;
}

.brandnamebtn {
	border: 1px solid white;
	border-radius: 50px;
}

.brandnamebtntext {
	font-size: 2.5rem;
	/*text-shadow: -1px 0 red,
				 0 1px red,
				 1px 0 red,
				 0 -1px red;*/
	letter-spacing: 2px;
	font-weight: bolder;
	color: var(--navbar-background-color);
}

.navbar-brand {
	position:relative;
}

.navbar {
	letter-spacing: 2px;
	background-color: #e50d23; !important
}

.navbar a{
	color:white;
	font-size: 1.1rem;
}

.navbar a:hover{
	background-color:var(--navbar-background-color);
	color: black;

}

#topNavbar {
	background: black;
	letter-spacing: 1.5px;
}

.topNavbar-left {
	float:left;
	padding: 5px 0 5px 5%;
	margin-bottom: 0;
}


#topNavbar > ul > li {
	list-style: none;
}

.social-media-topnavbar {
	display: inline;
	font-size: 1.1rem;
}

.social-media-topnavbar > a {
	text-decoration: none;
}

.social-media-topnavbar > a > i {
	color: #c0c0c0;
	margin: 0 3px;
}
.social-media-topnavbar > a > i:hover {
	color: #e50d23;
}

#topNavbar > ul > li > a {
	color: white;
	margin: 0 5px;
}

#topNavbar > ul > li > a:hover {
	text-decoration: none;
	color: #e50d23;
}

.topNavbar-right {
	float:right;
	padding: 5px 3% 5px 0;
	margin-bottom: 0;
}

.topNavbar-right > li {
	display: inline;
}

div.dropdown-menu.show {
	background: var(--navbar-background-color);
}

/*************************/
/*	 	Main Wrapper	 */
/*************************/

.main-wrapper {
	background-color: var(--main-background-color);
	height: auto;
	padding: 30px 0;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
	letter-spacing: 2px;
	font-weight: bold;
	text-shadow: -1 0 white,
		  0 1 white,
		  1 0 white,
		  0 -1 white; 	
}

/*************************/
/*	 	Main Footer 	 */
/*************************/
#main-footer {
	text-align: center;
	background-color: var(--navbar-background-color);
	color: white;
}

/*************************/
/*	 		Login 	     */
/*************************/

.login-bg {
	padding-top: 70px;
	height: auto;
	font-family: 'Poppins', sans-serif;
	background-color: #ffffff;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%2380F'/%3E%3Cstop offset='1' stop-color='%23f40'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='24' height='24' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='12' cy='12' r='12'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.1'/%3E%3C/svg%3E");
	background-attachment: fixed;
	padding-bottom: 20px;
}

.login-form-container {
	margin: 0 auto;
	width: 40%;
	text-align: center;
	border: 1px solid #999;
	padding: 4%;
	border-radius: 10px;
	height: auto;
	background-color: white;
	color: black;
}

.login-header > h2 {
	font-size: 4rem;
	letter-spacing: 3px;
	font-weight: bolder;
}

.form-username, .form-password {
	text-align: left;
	font-size: 1.4rem;
}

.form-login-label {
	display: block;
	text-align: left;
	font-size: 1.5rem;
	font-weight: normal;
	background:transparent;
	margin-bottom: 15px;
}

.form-login-input {
	outline: none; !important;
	box-shadow: none; !important;
	border:none;
	margin-left: 15px;
}

hr {
	height: 1px;
	border-top: 2px solid #c0c0c0;
}

.forgotPassword > a {
	text-decoration: none;
	color: black;
}

.forgotPassword > a:hover {
	color: blue;
}

.login-form-btn {
	display: block;
	margin: 0 auto;
	width: 100%;
	letter-spacing: 2px;
	text-transform: uppercase;
	border-radius: 30px;
	padding: 10px;
	background-color: #286090;
	color: white;
	margin-top: 20px;
}

.login-form-btn:hover {
	background-color:blue;
	box-shadow: none; !important;
	outline: none; !important;
}

.login-signup-btn:hover {
	background-color: blue;
	box-shadow: none; !important;
	outline: none; !important;
}

/***************************/
/*			Modal		   */
/***************************/

hr {
    margin: 0 auto 25px;
}

/*************************/
/*	 	  Register  	 */
/*************************/
.register-form {
	height: auto;
	width: 50%;
	border: 1px solid #999;
	border-radius: 10px;
	background-color: #fff;
}

.register-form > form > .form-group {
	width: 70%;
	margin: 10px auto;
}

/*************************/
/*	 	  Profile  	 	 */
/*************************/
#validateDeactivateUser {
	display: none;
	width: 50%; 
	margin: 0 auto; 
	text-align: left;
	display: none;
	position: relative;
	padding: 0;
}

#closeDeact {
	position: absolute;
	right: 0;
	top: 0;
	font-size: .7rem;
}

#deactBtn {
	display: inline-block;
}

#allUsersDropdown {
	/*margin: 0 auto;*/
	width: 70%;
}

.left-side-profile{
	text-align: center;
	border: 1px solid red;
}

.right-side-profile{
	border: 1px solid blue;
}

#adminShowProdImg {
	height: 300px;
	width: 70%;
}

#showTransHistUserImg {
	height: 100px;
	width: 100px;
}

table, td, th, tr {
	/*border: 1px solid black;*/
	border-collapse: collapse;
	text-align: center;
	padding: 10px;
	width: 100%;
}

#purchDateProfAdmin{
	display: none;
}

/*************************/
/*	   Update Profile	 */
/*************************/
#newPassBtn {
	display: inline;
}

#newPassCont {
	display: none;
	position: relative;
	width: 50%;
	margin: 0 auto;
}

#closeNewPassCont {
	position: absolute;
	right: 0;
}


/*************************/
/*	 	  	Home 	  	 */
/*************************/

.owl-container {
	width: 100%;
	height: auto;
	position: relative;
}

.owl-featured {
	position: relative;
}

.owl-featured .item {
	height: 450px;
}
.owl-featured .item img{
	width: 85%;
	height: 350px;
	margin: 0 auto;
}

.owl-featured .item .item-caption {
	position: absolute;
	bottom:5%;
	left: 10%;
	font-weight: bold;
	color: var(--navbar-background-color);
}

.owl-featured .owl-nav .owl-prev,
.owl-featured .owl-nav .owl-next{
	position: absolute;
	top: 35%;
}

.owl-featured .owl-nav button.owl-next, 
.owl-featured .owl-nav button.owl-prev {
	background: var(--navbar-background-color);	
}

.owl-featured .owl-nav .owl-prev {
	left: 8%;
}

.owl-featured .owl-nav .owl-next {
	right: 8%;
}

.owl-featured .owl-dots {
	position: absolute;
	bottom: 15%;
	right: 8%;

}

.owl-theme .owl-dots .owl-dot span{
	background: var(--navbar-background-color);
}

.owl-theme .owl-dots .owl-dot:hover span{
	background: black;
}

.owl-theme .owl-dots .owl-dot.active span{
	background: white;
}


.card {
	margin-bottom: 15px;
	height: auto;
	text-align: center;
}

#home-prod-img {
	margin-top: 10px;
	height: 230px;
	width: 60%;
	transition: all .2s ease-in-out;
}

#home-prod-img:hover {
	transform: scale(1.02);
}

.card-title {
	letter-spacing: 1.5px;
	font-weight: bold;
	text-align: center;
	color: var(--navbar-background-color);

}
.price_each {
	letter-spacing: 1.5px;
	font-weight: bolder;
}

#indProdDesc {
	letter-spacing: 1.2px;
	white-space: nowrap;
	overflow:hidden;
	text-overflow: clip;
	width: 250px;
}

.category-title {
	color: var(--navbar-background-color);
}

.nav-pills {
	background-color: var(--navbar-background-color);
	border: 1px solid #999;
	border-radius: 2px;
}

.nav-pills .nav-link.active {
	background-color: white;
	color:var(--navbar-background-color);
}

.nav-link {
	color:white;
	letter-spacing: 1.2px;
}

.nav-link:hover {
	color:var(--navbar-background-color);
	background-color: black;
}

.item-container {
	border: 2px solid #999;
	box-shadow: 0 0 10px #c0c0c0,
				0 0 20px #c0c0c0,
				0 0 30px #c0c0c0,
				0 0 40px #c0c0c0,
				0 0 50px white,
				0 0 60px white;
	margin: 0 auto 15px;
	min-height: 400px;
	max-height: auto;
}


.page-item.active .page-link{
	color:var(--navbar-background-color);
	background-color: white;
}

.page-item > a{
	color:white;
	background-color: var(--navbar-background-color);
}

.page-item > a:hover{
	color:var(--navbar-background-color);
	background-color:black;
}

/*CART*/

.showQuantity {
	display:none;
	text-align: center;
}

.productQuantity {
	width: 40%;
	display:inline-block;
	margin: 0;

}

.addCart{
	margin: 0;
	/*padding: 7.5px;*/
	/*padding-bottom: 6px;*/
}

/*************************/
/*	 	  Product 	  	 */
/*************************/
.product-container {
	padding-bottom: 15px;
	position: relative;
	width: 70%;
}

.prod-left-cont {
	padding: 10px 0;
	text-align: center;
}


.prod-right-cont {
	padding: 10px;
	letter-spacing: 1px;
}

.prod-display-image {
	border: 3px solid #999;
	width: 70%;
	height: 450px;
	box-shadow: 0 0 10px #c0c0c0,
				0 0 20px #c0c0c0,
				0 0 30px #c0c0c0,
				0 0 40px #c0c0c0,
				0 0 50px white,
				0 0 60px white;
	border-radius: 10px;
	transition: all .4s ease-in-out;
}

.prod-display-image:hover {
	transform: scale(1.03);
}

.product-name {
	font-weight: bolder;
	letter-spacing: 2px;
}

.product-price{
	font-weight: bolder;
	letter-spacing: 2px;
}

#closeDelProd {
	font-size: .5rem;
	position: absolute;
	right: 120px; 
}

#delprodBtn {
	display: inline;
}

#confirmDelProd {
	margin: 0 auto;
}

#admin_update_prod_cont {
	position: absolute;
	right: 0;
	top: 7px;
}

#updateProdCat {
	width: 25%;
}

#updateProdImg {
	width: 35%;
}

#uploadNewImgForm {
	display:none;
	position: relative;
}

#closeUploadNewImgForm {
	position: absolute;
	right: 0;
	top: 0;
	height: 30px;
	font-size: .6rem;	
}
/*************************/
/*	 	Reg Product   	 */
/*************************/

.registerProduct-form {
	border: 1px solid #c0c0c0;
	background-color: white;
	border-radius: 10px;
	padding: 10px 20px;
	width: 60%;
}

.registerProduct-cont {
	width: 80%;
	margin: 0 auto;
}

#prodDesc {
	min-height: 200px;
	max-height: 400px;
}
/*************************/
/*	 	  Cart  	 	 */
/*************************/

.cart-display-image {
	border:1px solid #999;
	width: 20%;
	height: 300px;
}

.media-body {
	width: 70%;
}

.productQuantityCart {
	width: 13%;
	display:inline-block;
}

.cart-container {
	position: relative;
	display:block;
}

#delete-cart-item{
	position: absolute;
	right: 0;
}

/*************************/
/*	 	  Checkout 	  	 */
/*************************/

#checkout-prod-img {
	width:50%;
	height: 150px;
}

#checkout-img-cont {
	text-align: center;
}

.totalPrice {
	letter-spacing: 2px;
	font-weight: bolder;
}

/*************************/
/*	 	  Receipt 	  	 */
/*************************/
.receipt-main-cont{
	background-color: white;
}

.receipt-cont {
	text-align: center;
}

.referenceNum-receipt {
	font-weight: bolder;
	letter-spacing: 1px;
}

.cust-details-cont {
	text-align: center;
	padding-bottom: 45px;
	
}

.cust-details-rct {
	margin: 15px 10px 5px;
	text-align: left;
	border-radius: 10px;
	border: 1px solid #999;
	background-color: #c0c0c0;
	height: auto;
	padding: 15px;
}

.cust-details-rct > p {
	font-size: 1.2rem;
}

.rct-order-items{
	padding: 0;
}

.rct-img{
	width: 50%;
	display: inline;
}
.order-status-rct {
	text-align: center;
}
