/***************************/
/*  	INITIAL CONFIG    */
/**************************/

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

/*************************/
/*	 	CSS VARIABLES	 */
/*************************/
:root {
	--main-background-color: #33ff33;
	--navbar-background-color: #343a40;
}

/*************************/
/*	 	Main Wrapper	 */
/*************************/

.main-wrapper {
	background-color: var(--main-background-color);
	height: auto;
}

h1 {
	text-align: center;
}
/*************************/
/*	 	Main Footer 	 */
/*************************/
#main-footer {
	text-align: center;
	background-color: var(--navbar-background-color);
	color: white;
}

/*************************/
/*	 	  Register  	 */
/*************************/
.register-form {
	height: auto;
}

#validateDeactivateUser {
	display: none;
	position: relative;
	padding: 0;
}

#closeDeact {
	position: absolute;
	right: 0;
	top: 0;
	font-size: .7rem;
}

#deactBtn {
	display: inline-block;
}

/*************************/
/*	 	  	Home 	  	 */
/*************************/

.card {
	width: 18rem;
	margin-bottom: 15px;
	min-height: 550px;
	max-height: auto;
}

.home-prod-img {
	height: 350px;
}

.more-text {
	display: none;
}

.show-less {
	display: inline;
}

